@import './variable.scss';
figure {
    div {
        display: block;
        overflow: hidden;
        img {
            display: block;
            z-index: -1;
            width: 100%;
            transform: scale(1.0);
            transition: all 2s;
            opacity: 1;
            &:hover {
                transform: scale(1.05);
                opacity: 0.7;
            }
        }
    }
    figcaption {
        text-align: center;
    }
}