@import './variable';

.table {
	display: table;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	animation: accordion 500ms forwards;
	tr {
		&:nth-child(odd) {
			background-color: hsl(0, 0, 97%);
		}
		&:nth-child(even) {
			background-color: hsl(0, 0, 99%);
		}
		td,
		th {
			padding: 0.3em 1em;
			margin: 0;
		}
		th {
			background-color: $primaryColor;
			text-align: left;
		}
		&:hover {
			background-color: hsl(0, 0, 95%);
		}
	}
}
