@import './variable.scss';
header {
    height: $headerHeight;
}

.site-id {
    display: block;
    float: left;
    height: 100%;
    a {
        display: inline-block;
        height: 100%;
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}


.logo {
    vertical-align: middle;
    width: 15em;
}

menu {
    float: right;
    height: 100%;
}

.menu-item {
    height: 100%;
    line-height: $headerHeight;
    padding: 0 1.5em;
}



.jumbo {
    
    font-size: 3em;
}