@import './variable.scss';
header {
    height: $headerHeight;
}

.site-id {
    display: block;
    float: left;
    height: 100%;
    a {
        display: inline-block;
        height: 100%;
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.logo {
    vertical-align: middle;
    width: 15em;
}

menu {
    float: right;
    height: 100%;
}

.menu-item {
    display: inline-block;
    line-height: $headerHeight;
    height: 100%;
    padding: 0 1.5em;
}

button, .button {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.jumbo {
    display: block;
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.9);
    height: 80vh;
    font-size: 3em;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url('../img/laptop.jpg');
        background-size: cover;
        animation: video-like 50s infinite;
    }
    div {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p.buttons {
            line-height: 2em;
            text-align: center;
            button, .button {
                line-height: normal;
                font-size: 0.8em;
                width: 11em;
                margin: 0 0.15em;
            }
        }
        .tagline {
            text-align: center;
        }
    }
}

@keyframes video-like {
    0% {
        transform: scale(1.2) translate(0, 0);
    } 
    50% {
        transform: scale(1.3) translate(-50px, 0px);
    }
    100% {
        transform: scale(1.2) translate(0, 0);
    }
}

.social-media-share {
    padding: 2em;
    text-align: center;
    font-size: 2em;
}

footer {
    padding: 2em;
    text-align: center;
}

.contact-map {
    display: block;
}

