/* reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    display: block;
    height: 100%;
    font-size: 16px;
    line-height: 1.40;
    min-width: 320px;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    max-width: 100vw;
    // do not put overflow: hidden on the html element, you will stop the mobile rolling lscroll
    overflow-x: hidden;
}


p, address {
    margin-bottom: 1em;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes accordion {
    0% {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
    }
    30% {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: top;
    }
}