@import './variable.scss';
header {
    background: $primaryColor;
}

.site-id {
    a {
        text-decoration: none;
    }
}

.menu-item {
    text-decoration: none;
    color: black;
    &.active {
        background: gray(90%);
    }
}

button,
.button {
    text-decoration: none;
    color: $secondaryColor;
    background: hsl(356, 93%, 39%);
}

footer {
    color: $secondaryColor;
    background: gray(50%);
    a {
        color: $secondaryColor;
        &:hover {
            opacity: 0.8;
        }
    }
}

.facebook {
    background: hsl(207, 85%, 37%);
}